{% extends "base5.html" %}

{% block content %}
  <h1>Image Mode</h1>
  <hr>
  <form id="productForm" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
      <label for="id_sku_id">SKU ID:</label>
      <input type="text" id="id_sku_id" name="sku_id">
      <input type="file" id="imageInput">
      <button type="button" id="ocrButton">OCR</button>
    </div>
  
    <div>
      <label for="id_product_name">Product Name:</label>
      <input type="text" id="id_product_name" name="product_name">
      <input type="file" id="imageInput1">
      <button type="button" id="ocrButton1">OCR</button>
    </div>
  
    <div>
      <label for="id_count">Count:</label>
      <input type="text" id="id_count" name="count">
      <input type="file" id="imageInput2">
      <button type="button" id="ocrButton2">OCR</button>
    </div>
  
    <div>
      <label for="id_price">Price:</label>
      <input type="text" id="id_price" name="price" step="0.01">
      <input type="file" id="imageInput3">
      <button type="button" id="ocrButton3">OCR</button>
    </div>
  
    <div>
      <label for="id_image">Image:</label>
      <input type="file" id="id_image" name="image" accept="image/*">
      
    </div>
  
    <button type="submit">Submit</button>
  </form>

  

  <script>
      const ocrButton = document.querySelector('#ocrButton');
      const imageInput = document.querySelector('#imageInput');
      const skuIdInput = document.querySelector('#id_sku_id');

      function handleOCRResponse(responseJson) {
        var recognizedText = responseJson.recognized_text.OCRText[0][0];
        skuIdInput.value = recognizedText; // Populate the recognized text into the SKU ID input field
      }

      ocrButton.addEventListener('click', async () => {
        const file = imageInput.files[0];
        const formData = new FormData();
        formData.append('image', file);

        try {
          const response = await fetch('/perform_ocr', {
            method: 'POST',
            body: formData
          });
          if (response.ok) {
            const data = await response.text();
            skuIdInput.value = data; // Populate the recognized text into the SKU ID input field
          } else {
            console.error('Failed to perform OCR');
          }
        } catch (error) {
          console.error('Error performing OCR:', error);
        }
      });
  </script>

  <script>
      const ocrButton1 = document.querySelector('#ocrButton1');
      const imageInput1 = document.querySelector('#imageInput1');
      const productNameInput = document.querySelector('#id_product_name');


      ocrButton1.addEventListener('click', async () => {
        const file = imageInput1.files[0];
        const formData = new FormData();
        formData.append('image', file);

        try {
          const response = await fetch('/perform_ocr', {
            method: 'POST',
            body: formData
          });
          if (response.ok) {
            const data = await response.text();
            productNameInput.value = data; // Populate the recognized text into the SKU ID input field
          } else {
            console.error('Failed to perform OCR');
          }
        } catch (error) {
          console.error('Error performing OCR:', error);
        }
      });
  </script>

  <script>
      const ocrButton2 = document.querySelector('#ocrButton2');
      const imageInput2 = document.querySelector('#imageInput2');
      const countInput = document.querySelector('#id_count');


      ocrButton2.addEventListener('click', async () => {
        const file = imageInput2.files[0];
        const formData = new FormData();
        formData.append('image', file);

        try {
          const response = await fetch('/perform_ocr', {
            method: 'POST',
            body: formData
          });
          if (response.ok) {
            const data = await response.text();
            countInput.value = data; // Populate the recognized text into the SKU ID input field
          } else {
            console.error('Failed to perform OCR');
          }
        } catch (error) {
          console.error('Error performing OCR:', error);
        }
      });
  </script>

  <script>
      const ocrButton3 = document.querySelector('#ocrButton3');
      const imageInput3 = document.querySelector('#imageInput3');
      const priceInput = document.querySelector('#id_price');


      ocrButton3.addEventListener('click', async () => {
        const file = imageInput3.files[0];
        const formData = new FormData();
        formData.append('image', file);

        try {
          const response = await fetch('/perform_ocr', {
            method: 'POST',
            body: formData
          });
          if (response.ok) {
            const data = await response.text();
            priceInput.value = data; // Populate the recognized text into the SKU ID input field
          } else {
            console.error('Failed to perform OCR');
          }
        } catch (error) {
          console.error('Error performing OCR:', error);
        }
      });
  </script>
  <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary" class>Back</a>
{% endblock content %}